circle {
    stroke-width: 12px;
}

.needle {
    stroke: #72706f;
    stroke-width: 3px;
  }
  
  .eYakCx .scale {
    font-size: 12px;
    fill: #d3cdcc;
  }

  .sc-iwsKbI .eYakCx{
    color: "white";
  }