circle {
    stroke-width: 18px;
}

.needle {
    display: none;
  }
  
  .eYakCx .scale {
      display: none;
  }

  .eYakCx .needle-knob {
      display: none;
  }

  .eYakCx .track {
    stroke: rgba(230, 211, 157, 0.265);
  }

  .sc-iwsKbI .eYakCx{
    color: "red";
  }